* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
}
/* nav */

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  border-bottom: 1px solid #ccccccbf;
  background-color: #044c6b;
  color: white;
  padding: 10px 0;
  text-align: left;
  align-items: left;
  justify-content: center;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.logo span {
  margin-left: 0.5rem;
}

.user-actions {
  margin-right: 2rem;
  font-size: 1rem;
}

/* body */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  position: relative;
}

.message-container {
  flex: 1;
  overflow-y: scroll;
  background-color: whitesmoke;
  border-radius: 10px;
}

.sender_class {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  list-style: none;
  border-radius: 20px;
  background-color: #ddf1f9;
}

.receiver_class {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  list-style: none;
  border-radius: 20px;
  width: fit-content;
  background-color: #dfdfdf;
  text-align: left;
}

.message_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

/* .message li {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  background-color: #ddf1f9;
  list-style: none;
  border-radius: 20px;
} */
/* text-align: end; */

/* message */

.message_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sender-name {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #044c6b;
}

.timestamp {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: rgb(71, 71, 71);
}

.send-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#message-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.send-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* group */

.group-container {
  padding: 1rem;
}

.group-container ul {
  list-style: none;
}

.group-container li {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #d7f3ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.group-container li:hover {
  background-color: #beebfe;
}

.group-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.group-container__header span {
  display: flex;
  background-color: #044c6b;
  color: white;
  border: none;
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.chat-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #044c6b;
  color: white;
  margin: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.edit-Btn:hover {
  cursor: pointer;
}

/* form */

.group-form__div {
  position: absolute;
  background-color: white;
  top: 20%;
  left: 40%;
  width: 20rem;
  height: 27rem;
  border-radius: 10px;
  z-index: 2;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.edit-group-form__div {
  position: absolute;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 40%;
  width: 20rem;
  height: 27rem;
  border-radius: 10px;
  z-index: 2;
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.group-form__div form,
.edit-group-form__div form {
  display: flex;
  flex-direction: column;
}

.group-form__div h2,
.edit-group-form__div h2 {
  margin-bottom: 2rem;
  background-color: #044c6b;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.group-form__div form input,
.edit-group-form__div form input {
  background-color: rgb(234, 232, 232);
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: inherit;
}
#userList,
#editList {
  list-style: none;
  padding: 1rem 0;
  overflow-y: auto;
  height: 8rem;
  margin-bottom: 2rem;
  border: 1px solid grey;
  margin: 0.5rem;
}

#userList li,
#editList li {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
#userList input[type="checkbox"],
#editList input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.group-form__div button,
.edit-group-form__div button {
  background-color: #044c6b;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* form-end */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  transition: opacity 0.3s ease;
}
